chardet==5.2.0
click==8.1.8
cssselect2==0.8.0
lxml==5.3.2
pillow==11.2.1
python-zbase32==0.1.1
reportlab==4.4.0
segno==1.6.6
setuptools==79.0.0
shortuuid==1.0.13
svglib==1.5.1
tinycss2==1.4.0
webencodings==0.5.1
wheel==0.45.1
