charset-normalizer==3.4.2
click==8.2.1
cssselect2==0.8.0
lxml==6.0.0
pillow==11.3.0
python-zbase32==0.1.1
reportlab==4.4.2
segno==1.6.6
setuptools==80.9.0
shortuuid==1.0.13
svglib==1.5.1
tinycss2==1.4.0
webencodings==0.5.1
wheel==0.45.1
